$primary-font-color: #3e3e3e;
$tile-color: #007ab3;
$tile-color-hover: #0196dc;
$tile-col-color: #00608e;
$color-player: #fdec00;
$color-ai: #f50000;
$tile-error: #b90000;
$win-color: #008000;
$lose-color: #ef0000;
$grey-color: #616161;
